.container {
    width: 35vw;
    height: 70vh;
    border: 2px solid;
    background-color: antiquewhite;
    margin: 5% 16%;
}
.translate, .rotate, .scale, .skew{
    margin: 5%;
}
img{
    margin-left: 20%;
}
.translate:hover~img{
    transform: translate(75px, 50px);
    transition-duration: 2s;
}
.rotate:hover~img{
    transform: rotate(360deg);
    transition-duration: 5s;
}
.scale:hover~img{
    transform: scale(1.4);
    transition-duration: 2s;
}
.skew:hover~img{
    transform: skew(20deg);
    transition-duration: 2s;
}